{% extends 'base.html' %}
{% block title %}About{% endblock title %}
{% block body %}
<div class="container my-3 mx-3">
    <h1 class="display-1">About</h1>
    <p class="h1">Welcome to MyTodo</p>
</div>
<div class="container-fluid my-3 mx-3 d-flex" style="display: flex; justify-content: space-around; flex-wrap: wrap; width: 100vw;">
    <div class="card mx-3 my-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">TODO Title</h5>
            <p class="card-text">In the TODO tittle you con add the title of work which you want to be remembered to you and is very important to you. You should give a short to your TODO as it will be easily readable by you. You con give the title of length
                200 only. This is for easy readiblity.</p>
        </div>
    </div>

    <div class="card mx-3 my-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">TODO Discription</h5>
            <p class="card-text">In TODO discription you can give a long discription to Your TODO. The maximum length of TODO discription is 500.
                This is because it will become difficult to have more TODOs in View Port and to not to become messy. After
                filling your title and discription click on the submit button and it will be shown in the form of table.</p>
        </div>
    </div>

    <div class="card mx-3 my-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">TODO Update</h5>
            <p class="card-text">In table You have the option to delete or update your TODO. When we click on update button it will open up
                update page and you can change the title and discription of your TODOs.</p>
        </div>
    </div>

    <div class="card mx-3 my-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">TODO Delete</h5>
            <p class="card-text">By clicking on delete button you can delete that particular TODO which may be done or you want to remove it.</p>
        </div>
    </div>
</div>

{% endblock body %}